@use '@yohns/picocss/scss/pico' with (
	$theme-color: 'blue',
	// Breakpoints, viewports and root font size
	$breakpoints: (
			xl: (
				breakpoint: 9999px,
				viewport: 510px,
				root-font-size: 106.25%
			),
			xxl: (
				breakpoint: 9999px,
				viewport: 510px,
				root-font-size: 106.25%
			)
		)
);
body {
	background-color: lightgray;
}
