@use '@picocss/pico/scss/pico' with (
	$theme-color: 'blue',
	// Breakpoints, viewports and root font size
	$breakpoints: (
			xl: (
				breakpoint: 9999px,
				viewport: 510px,
				root-font-size: 106.25%,
			),
			xxl: (
				breakpoint: 9999px,
				viewport: 510px,
				root-font-size: 106.25%,
			),
		)
);

@media only screen and (min-width: 576px) {
	.container {
		padding: 1rem;
	}
}

/* Hide print version on screen */
.print-only {
	display: none;
}

/* Show appropriate versions when printing */
@media only print {
	.container {
		max-width: 100% !important;
	}

	.screen-only {
		display: none !important;
	}

	.print-only {
		display: block;
	}
}
